/*ESTILOS GENERALES*/
* {box-sizing: border-box;}
#contenedor {
    width: 100%;
    max-width: 960px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;
}
body {
    background-image: url(../img/fondo.png);
    background-attachment: fixed;
}
main {
    background-color: #E6F5FF;
    padding: 1rem;
}
button {
    color: #ffffff;
    background-color: #0099FF ;
    margin-top: 0.5rem;
    padding: 0.8rem 1rem;
    border: 0.15rem solid #004675;
    font-family: 'Barlow';
    font-weight: bolder;
}
button:hover {
    background-color: #E6F5FF;
    color: #004675;
}
button:active {
    background-color: #004675;
    color:#E6F5FF;
}
#main1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#main1 section {
    width: 33%;
}
section {
    margin: 0.5rem;
}
aside {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: aliceblue;
    text-align: center;
    border: 0.15rem #004675;
    width: 33%;
}
#main2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
#main2 div:first-child {
    width: 60%;
    display: flex;
    flex-direction: column;
}
#main2 div:last-child {
    width:40%;
}
.campos {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}
form label {
    display: block;
    margin-top: 0.5rem;
}
form input {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    border: 0.5rem #004675;
}
.listado {
    padding-left: 0;
    margin: 1rem 0 0 0;
}
#galeria {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#galeria div {
    text-align: center;
    font-family: 'Barlow', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color:#004675;
}
/*Header y Footer*/
header, footer {
    background-color:#002B47 ;
    color: #E6F5FF;
    padding: 2rem 1rem;
    text-align: center;
}
header h1 {
    margin: 0 0 0.5rem 0;
    font-size: 2.5rem;
}
header h2 {
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-style: oblique;
    font-size: 1.2rem;
}
/*NAVEGADOR*/
nav ul {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0;
    display: inline-block;
}
nav a {
    display: block;
    padding: 0.6em 1.2em;
    border: 0.15rem solid #002B47;
    color: #004675;
    text-decoration: none;
    font-weight: bold;
    background-color: #47B4FF;
}
section a:visited {
    color: #47B4FF; 
}
a:hover {
    background-color: #E6F5FF;
    color: #004675;
}
a:active {
    background-color: #004675;
    color:#E6F5FF;
}
/*TIPOGRAFIA*/
h1,h2 {
    text-align: center;
    font-family: 'Barlow';
}
h3, h4{
    color: #ffffff;
    background-color: #0099FF ;
    margin-top: 0;
    padding: 0.8rem 1rem;
    border: 0.15rem solid #004675;
    font-family: 'Barlow';
}
h4 {
    font-size: larger;
}
span {
    font-weight: bolder;
    color: #004675;
}
/*Imágenes y video*/
img {
    margin: 1rem 0;
}